<div class="sidebar" th:fragment="adminSidebar">
    <nav class="nav flex-column">
        <h4 class="text-white mt-5 mb-4 ms-3">WelCome Admin</h4>
        <a href="dashBoard" class="nav-link"><i class="bi bi-house-door-fill"></i> <span class="ms-2">Dashboard</span></a>
        <a href="manageCourse" class="nav-link"><i class="bi bi-book-fill"></i> <span class="ms-2">Course Management</span></a>
        <a href="manageEmployee" class="nav-link"><i class="bi bi-people-fill"></i> <span class="ms-2">Employee Management</span></a>
        <a href="manageCustomer" class="nav-link"><i class="bi bi-person-lines-fill"></i> <span class="ms-2">Customer Management</span></a>
        <a href="salesPage" class="nav-link"><i class="bi bi-bar-chart-fill"></i> <span class="ms-2">Sales</span></a>
        <a href="feedbacks" class="nav-link"><i class="bi bi-chat-dots-fill"></i> <span class="ms-2">Feedback</span></a>
        <a href="adminLogout" class="nav-link"><i class="bi bi-box-arrow-in-right"></i> <span class="ms-2">Logout</span></a>
    </nav>
</div>